@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827; /* bg-neutral-900 */
  color: white;
}

/* globals.css */
.rounded-md-custom {
  border-radius: 0.375rem !important; /* Forces Tailwind’s default `rounded-md` value */
}


